<app-nav-bar></app-nav-bar>
<section id="header-section">
    <div>
        <h1>
            Freelance 
            <br> 
            Software
            <br>
            Development
        </h1>
        <span></span>
        <p>
            Enable your business with elegant soutions,
            <br>
            at a fair price.
        </p>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
</section>
<section id="about-section">

</section>
<section id="services-section">

</section>
<section id="contact-scetion">

</section>